#
# Global config file - can override values per dataset by giving them the 
# same section and key in the dataset config file
#

[global]
# global section is intended for stuff which is unlikely to be overridden
# per-dataset (although technically there is nothing to prevent a 'global'
# section in the dataset config file)

#homedir = /home/me
#top = /usr/local/stager
#top = {{var:[global]homedir}}/stager_test/stager/trunk
#base_data_dir = {{var:[global]top}}/data
#base_data_dir = {{var:[global]homedir}}/local_stager/data
base_data_dir = ::STAGER_TEST::/data
config_dir = ::STAGER_CONF::
# Note that dataset_config_dir overrides dataset_list in terms of where to look for config files
#dataset_config_dir = /badcstager/badc1/stager2/conf_test
base_incoming_dir = {{var:[global]base_data_dir}}/incoming
dataset_list = test1
general_poll_interval = 5

[incoming]
require_arrival_monitor = False
control_file_extension = stager-ctrl-bes
thankyou_file_extension = stager-thanks-bes
stop_file = .stop

[outgoing]
transfer_protocol = rsync
control_file_extension = stager-ctrl-bss
receipt_file_extension = stager-rcpt-bss
target_uses_arrival_monitor = False
retry_count = 3
receipt_file_poll_count = 100
receipt_file_poll_interval = 5
always_zip = False
dir_size_limit = 1000.
stop_file = .stop
stop_file_poll_interval = 600

[logging]
#base_log_dir = {{var:[global]homedir}}/local_stager/log
base_log_dir = ::LOG_DIR::
#log_level = INFO
log_level = DEBUG
port = 2000

[email]
from = badc@rl.ac.uk
#threshold = ERROR
threshold = CRITICAL
recipient = ag.stephens@stfc.ac.uk
subject = Error from Local Stager
smarthost = outbox.rl.ac.uk

[ssh]
ssh_cmd = /usr/bin/ssh
#ssh_args = -i {{var:[global]homedir}}/.ssh/identity
ssh_args = -i ::SSH_KEY_FILE::
scp_cmd = /usr/bin/scp
scp_args = {{var:[ssh]ssh_args}}

[rsync]
username = ::REMOTE_USERNAME::
handled_by_python = False
cmd = /usr/bin/rsync
use_ssh = False
args = 

[ftp]
handled_by_python = True
# Note: cmd ignored if handled_by_python == True
cmd = /usr/bin/ftp
username = user
password = password

[disk_space_monitor]
base_priority = 100
# thresholds in MB - description in DiskSpaceMonitor.py
level_good = 1500
level_low = 1000
level_vlow = 500
# note re poll_interval: 1GBit/s, maxed out, is 7.5GB/minute
poll_interval = 60

## A default dataset priority can be set here as the dataset config will fall
## back to the global config in the ordinary way.  But if not then the base
## priority will also be used as a default.
# [dataset]
# priority = 100
