[data_stream]
#
# Data_streams with priorities lower than the base_priority will be stopped 
# and potentially removed) before data_streams with higher priorities.
# Data_streams will only be removed if the option in the data_stream section 
# of the data_stream config file called deletion_enabled is set to True
#
priority = 200
#
# the name of the data stream
#
name = arrival_monitor
#
# currently only file is supported
#
transfer_unit = file
#
# Can be RUNNING, STOPPED or COMPLETE
#
status = RUNNING
deletion_enabled = False
#
# location of files to transfer for this data_stream
#   - if not provided the directory path is assumed to be:
#      <global:base_data_dir>/<data_stream:name>
#
directory =

[incoming]
#
# this must be set to True as it enables the arrival monitor ro be switched on
#
require_arrival_monitor = True

[outgoing]
#
# the underlying protocol we are using to transfer files
# - it is none as we are only listening for incoming files
#
transfer_protocol = none

