[data_stream]
priority = 200
name = arrival_monitor
transfer_unit = file
status = RUNNING
deletion_enabled = False
#
# location of files to transfer for this data_stream
#
directory = /home/users/mistamover/incoming/my_data_stream

[incoming]
#
# this must be set to True as it enables the arrival monitor ro be switched on
#
require_arrival_monitor = True

[outgoing]
#
# the underlying protocol we are using to transfer files
# - it is none as we are only listening for incoming files
#
transfer_protocol = none

