[data_stream]
priority = 200
name = __MUST_DEFINE__ 
transfer_unit = file
status = RUNNING
directory =  

[incoming]
#
# there is no arrivals monitor being used for incoming
# data_streams on this machine
#
require_arrival_monitor = False

[outgoing]
#
# the host we are transfering files to
#
target_host = __MUST_DEFINE__ 
#
# the underlying protocol we are using to transfer files
#
transfer_protocol = rsync_ssh
target_dir = __MUST_DEFINE__ 

[rsync_ssh]
username = __MUST_DEFINE__ 
cmd = /usr/bin/rsync
